.proof {
    display: block;
}
.description {
    display: block;
}
.date {
    display: block;
}
.author {
    display: block;
}
.changes {
    display:block;
}
.descriptionLength {
    display:block;
}
.proofLength {
    display:block;
}
.header {
    padding-left: 1%;
    display: block;
}
.graphpixel {
    height: 1px;
    width: 1px;
    display: inline-block;
}
graph {
    display: block;
    
}	